/**=====================
    Fonts css start
==========================**/
@font-face {
  font-family: $font-name;
  font-style: normal;
  font-weight: bold;
  src: url('#{$font-path}/eot/IRANSansWeb(FaNum)_Medium.eot');
  src: url('#{$font-path}/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('#{$font-path}/woff2/IRANSansXFaNum-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('#{$font-path}/woff/IRANSansXFaNum-Regular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
