body{
    background: url("../img/01 (2).png") no-repeat fixed;
    background-size: cover;
}

h1{
    margin-bottom: 50px;
}
.demo-box {
    width: 100%;
    height: 400px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
}
.demo-box .demo-box-name{
    bottom: 0;
    background: white;
    width: 100%;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.ecommerce-demo{
     width: 100%;
     height: 700px;
     overflow: hidden;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }
.content{
    margin-top: 100px;
}

.ecommerce-demo-wrapper h2{
    font-size: 38px;
    margin-bottom: 30px;
}
.ecommerce-demo-wrapper p{
    font-size: 20px;
}


.nav-pills .nav-link.active{
    background: #000066 !important;
}
.nav-link{
    color: black;
}