/**=====================
    Header css start
==========================**/
/* Hero Slider Styles */
.hero-slide-img {
  height: 11rem; // h-44
  object-fit: cover;
  object-position: bottom;

  @media (min-width: 768px) { // md:h-80
    height: 20rem;
  }
}

.hero-left-svg {
  top: 2.5rem;
  left: -0.5rem;
  transform: rotate(180deg);
  width: auto;
  z-index: 10;
}

.hero-right-svg {
  top: 2.5rem;
  right: -0.5rem;
  width: auto;
  z-index: 10;
}

.hero-bottom-svg {
  bottom: -0.75rem;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  width: 24rem; // w-96
  z-index: 10;
  filter: drop-shadow(0 -7px 25px rgba(0,0,0,0.3));
}

/* Hero Slider Buttons & Pagination */
/* Hero Slider Styles */
.hero-slide-img {
  height: 11rem; // h-44
  object-fit: cover;
  object-position: bottom;

  @media (min-width: 768px) { // md:h-80
    height: 20rem;
  }
}

.hero-left-svg {
  top: 2.5rem;
  left: -0.5rem;
  transform: rotate(180deg);
  width: auto;
  z-index: 10;
}

.hero-right-svg {
  top: 2.5rem;
  right: -0.5rem;
  width: auto;
  z-index: 10;
}

.hero-bottom-svg {
  bottom: -0.75rem;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  width: 24rem; // w-96
  z-index: 10;
  filter: drop-shadow(0 -7px 25px rgba(0,0,0,0.3));
}

/* Hero Slider Buttons & Pagination */
.heroSlider {
  img{
    border-radius: 48px;
    @media screen and (max-width: 782px){
      .heroSlider{
        img{
          border-radius: 20px;
        }
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    height: 2.7rem;
    width: 2.7rem;
    top: 52%;

    &:after {
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 700;
      color: rgb(113, 113, 122);
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 0.15s;
    }

    &:hover:after {
      color: rgb(63, 63, 70);
    }
  }

  .swiper-pagination-bullet {
    background-color: rgb(63,63,70);

    &.swiper-pagination-bullet-active {
      background-color: $theme !important; // رنگ active درست شد
      width: 20px;
      border-radius: 5px;
      transition: all 0.3s;
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 2px;
  }
}




@media only screen and (max-width: 1200px) {
  .swiper{
    .swiper-slide{
      img{
        height: 400px !important;
        object-fit: cover;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .swiper{
    .swiper-slide{
      img{
        height: 300px !important;
        object-fit: cover;
        border-radius: 20px;
      }
    }
    .swiper-button-next,.swiper-button-prev{
      display: none;
    }
  }
}