/**=====================
    Buttons css start
==========================**/

.custom-btn-danger{
  background: $white !important;
  color: red !important;
  border-radius: 10px !important;
  padding: 7px 10px !important;
  text-align: center;
  border: 1px solid red !important;
  &:hover{
    background: red !important;
    color: $white !important;
  }
}

.custom-btn-secondary{
  background-color: $white;
  color: $gray-800;
  border-color: $gray-300;
  &:hover{
    color: $gray-800;
  }
  &.active{
    border-color: rgb(var(--theme-color-blue));
    color: rgb(var(--theme-color-blue));
    background-color: rgba(var(--theme-color-blue),.04);
  }
}


.custom-btn-success{
  background-color: #25D366;
  color: $white;
  &:hover{
    color: $white;
  }
}

.custom-btn-primary{
  background-color: #00ACEE;
  color: $white;
  &:hover{
    color: $white;
  }
}

.custom-btn-info{
  background-color: #3B5998;
  color: $white;
  &:hover{
    color: $white;
  }
}
.btn-auth{
  background: $theme !important;
  color: $white !important;
  border-radius: 16px !important;
  padding: 14px 25px !important;
  text-align: center;
  &:hover{
    color: $white !important;
  }
}
.btn-auth2{
  background: $white !important;
  color: $theme !important;
  border-radius: 16px !important;
  padding: 14px 25px !important;
  text-align: center;
  border: 1.3px solid $theme !important;
  &:hover{
    background: $theme !important;
    color: $white !important;
  }
}